@tailwind base;
@tailwind components;
@tailwind utilities;



.hideMenuNav {
  display: none;
}

.showMenuNav {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(87, 197, 182);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.modal {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}